name: ImageBuilder
# Run this workflow every time a new commit pushed to your repository
on: push
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Import Secrets
        uses: hashicorp/vault-action@v2.0.1
        with:
          url: http://3.90.180.170:8200
          tlsSkipVerify: true
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
               kv/eng/api/google key
      - name: Build Docker Image
        run: env #docker build . --file Dockerfile --build-arg app_secret="${{ env.APP_SECRET }}" -t vault-action-exampleapp
